<footer class="container footer">
  <div class="d-flex m-5 justify-content-center fixed-bottom">
    Created by
    <a href="https://github.com/Rmendez1812">&nbsp;Rey Mendez</a>,
    <a href="https://github.com/scostemal">&nbsp;Scott Malone</a>,
    <a href="https://github.com/chrisjg19">&nbsp;Christopher Gonzales</a>,
    <a href="https://github.com/ilknur2603">&nbsp;Ilknur Dayanc</a>,
    <a href="https://github.com/StevieMiller">&nbsp;Stevie Miller</a>
    © 2023
  </div>
</footer>