<header class="jumbotron">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="text-white">
      <h1 class="display-3 m-2">Quiz Master Max</h1>
      <p class="text-center">A quiz app for developing developers</p>
      <p class="text-center">Welcome {{username}}</p>
    </div>
  </div>
</header>