<header class="jumbotron">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="text-white">
      {{> navigation }}
<div class="header mb-5">
      <h1 class="display-3 m-2">Quiz Master Max</h1>
      <h4 class="text-center mb-4">A quiz app for developing developers</h4>
      <p class="text-center welcome pb-2">Welcome {{username}}</p>
      </div>
      
    </div>
  </div>
</header>