<header class="jumbotron">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="text-white">
      {{> navigation }}
<div class="header mb-5">
      <h1 class="display-3 m-2">Quiz Master Max</h1>
      <h4 class="text-center mb-4">A quiz app for developing developers</h4>
      <p class="text-center welcome pb-2">Welcome {{username}}</p>
      </div>
    </div>
  </div>
</header>
<main
  class="container d-flex flex-column justify-content-center align-items-center"
>
<h1>Take a Quiz</h1>
  <div class="input-group justify-content-center">
    <div class="input-group-prepend">
      <button id="category"
        class="btn btn-outline-warning dropdown dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Choose a category
      </button>
      <div class="dropdown-menu">
        <a type="button" class="dropdown-item" href="#">Programming</a>
        <a class="dropdown-item" href="#">Networking</a>
        <a class="dropdown-item" href="#">DevOps</a>
      </div>
    </div>
  </div>

  {{!-- <div class="input-group justify-content-center">
    <div class="input-group-prepend">
      <button id="tag"
        class="btn btn-outline-warning dropdown dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Choose a tag
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">HTML</a>
        <a class="dropdown-item" href="#">CSS</a>
        <a class="dropdown-item" href="#">JavaScript</a>
      </div>
    </div>
  </div> --}}

  <div class="input-group justify-content-center">
    <div class="input-group-prepend">
      <button id="difficulty"
        class="btn btn-outline-warning dropdown dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Choose difficulty
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Easy</a>
        <a class="dropdown-item" href="#">Medium</a>
        <a class="dropdown-item" href="#">Hard</a>
      </div>
    </div>
  </div>

  <button id="fetch-quiz-button" class="btn btn-warning start-btn">
    Start Quiz
  </button>
</main>