body {
  background-color: #000000;
  color: #e9ecef;
  font-family: "Noto Sans Lepcha", sans-serif;
}

h1,
h4 {
  font-family: "Press Start 2P", sans-serif;
}

h1 {
  color: #ffc300;
}

h4 {
  color: #e9ecef;
}

a:link {
  color: #ffc300;
}

a:hover {
  color: #e9ecef;
}

a:visited {
  color: #ffc300;
}

a:active {
  color: #e9ecef;
}

.header {
  border-bottom: 1px solid;
}

.nav-link {
  color: #e9ecef;
}

.dropdown {
  margin: 20px;
}

.start-btn {
  margin-top: 20px;
  padding: 15px;
}

.input {
  background-color: #000000;
  border-color: #ffc300;
}

.welcome {
  font-family: "Press Start 2P", sans-serif;
  font-size: 18px;
  color: #ffc300;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #3b5df1;
}